.main-box {
    border: 1px solid #d6d2d2;
    padding: 1em;
    width: 320px;
    box-shadow: 5px 5px #d6d2d2;
}

.information-box {
    border: 1px solid #d6d2d2;
    padding: 10px;
    width: 280px;
}

img {
    width: 300px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}