.main-box {
    border: 0.5px solid #8b898991;
    padding: 1em;
    width: 310px;
    box-shadow: 5px 5px #e6e2e2;
    margin: auto;
}

.information-box {
    border: 0.5px solid #8b898991;
    padding: 9.5px;
    width: 280px;
}

img {
    width: 300px;
}

span {
    font-weight: bold;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}